
.HeroSelect, .HeroSelect-2{
	text-align: center;
	justify-content: center;
	font-size: 3rem;
	vertical-align: middle;
	height: 100%;
	width: 100%;
	position: relative;
}
.HeroSelect a , .HeroSelect-2 a{
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 1px;
	right: 1px;
	text-align: center;
	justify-content: center;
	vertical-align: middle;
}
.HeroSelect h3, .HeroSelect-2 h3 {
	margin: 1rem auto;
	font-size: 3rem;
}
.Left-Compare, .Right-Compare {
	justify-content: center;
	padding-top: 22px;
}

.Left-Compare {
	background-color: #68bac5;
}
.Right-Compare {
	background-color: #565971;
}
.vidwrap {
	margin: auto;
	justify-content: center;
}

video {
	display:block;
	margin: auto;
	vertical-align: middle;
	transition: ease 0.5s;
}

.HeroSelect {
	background-color: #6591ee;
}

.HeroSelect a {
	color: #ffd267;
	background-color: none;
}
.HeroSelect a:hover {
	color: #ffd267;
	background-color: #84a7f1;

}
.HeroSelect-2 a {
	background-color: none;
}
.HeroSelect-2 a:hover {
	background-color: #7e7d79;
}
.HeroSelect h3 {
	color: #ffd267;
}
.HeroSelect-2 h3 {
	color: #e9a92e;
}